@charset "utf-8";

.mosaicflow__column {
	float:left;
	}

.mosaicflow__item {
	position:relative;
	}
	.mosaicflow__item img {
		display:block;
		width:100%;
		height:auto;
		}
	
.modal-box {
  display: none;
  position: absolute;
  z-index: 1000;
  width: 70%;
  /*background: white;
  border-bottom: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-clip: padding-box;*/
}
.modal-body img{    margin: 5px;
    border: solid #DCDCDC;
    width: 200px;
    height: 200px;}
@media (min-width: 32em) {

.modal-box { width: 50%;     
	height:50%;
    overflow:auto;
    }
}



.modal-overlay {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0) !important;
}

a.close {
  line-height: 1;
  font-size: 1.5em;
  position: absolute;
  top: 5%;
  right: 2%;
  text-decoration: none;
  color: #bbb;
}

a.close:hover {
  color: #222;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  transition: color 1s ease;
}
.waving-close{float:right; cursor:pointer;}

#myTab1, #myTab2, #myTab3
{
    display: inline-block;
    background:#2d2d2d;
    padding: 12px 0px;
    width: 150px;
    cursor: pointer;
    border-radius: 4px 4px 0 0;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.73);
}

#tablink2, #tablink3
{
    display: none;
}

.selected
{
    color: #b0d132;
    background-color: #b0d132;
}